<div></div>
<div class="col-sm-5"></div>
<ul class="col-sm-2" style="list-style-position:inside;text-align:left;list-style-type:none;">
    <h2>Tools:</h2>
    <li><a href="http://backbonejs.org/">Backbone.js</a></li>
    <li><a href="http://handlebarsjs.com/">Handlebars</a></li>
    <li><a href="https://jquery.com/">jQuery</a></li>
    <li><a href="http://requirejs.org/">Requirejs</a></li>
    <li><a href="http://requirejs.org/docs/download.html#text">text</a></li>
    <li><a href="http://underscorejs.org/#">Underscore</a></li>

</ul>
<div class="col-sm-5"></div>