<div class="col-sm-6 col-sm-offset-3 text-center" id="about">
    Hi, I'm Alyssa. You can check out <a href="https://github.com/calcounter">this project</a> or <a href="https://github.com/Saerith">my work</a> on Github.
    <p>Contact me through <a href="https://www.linkedin.com/in/alyssaingersoll">Linkedin</a>.</p>

</div>
<div class="container">
    <ul class="col-sm-2 col-sm-offset-5 text-center list-unstyled">
        <div class="divider"></div>
        <li><a href="http://backbonejs.org/">Backbone.js</a></li>
        <li><a href="http://handlebarsjs.com/">Handlebars</a></li>
        <li><a href="https://jquery.com/">jQuery</a></li>
        <li><a href="http://requirejs.org/">Requirejs</a></li>
        <li><a href="http://requirejs.org/docs/download.html#text">text</a></li>
        <li><a href="http://underscorejs.org/#">Underscore</a></li>
    </ul>
</div>
