<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="../../css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../../css/meal.css">

</head>
<body>

    <div class="container panel-group ">
        <div class="panel panel-default ">
            <div class="panel-heading">
                Meal name
            </div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="well col-sm-10" id="desc">
                                <div>
                                    description
                                </div>
                            </td>

                            <td class="well col-sm-2">
                                    num calories fsf asf asf as ffsafassffa sas afsa sfafsfasfasf f asfasfasf
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                date/time
            </div>
        </div>
    </div>



</body>
</html>