<div class="col-sm-2"></div>
<div class="container-fluid col-sm-8">
    <h1>My Meals</h1>
    <div class="well col-sm-12">
        <label>Add a meal:</label>
        <button role="button" class="pull-right btn-primary" id="btn-add-meal">Add this meal</button>
        <div class="form-group">
            <div class="col-sm-2">
                <label>Calories:</label>
                <input type="text" class="form-control" id="calories" placeholder="Calories">
            </div>
            <div class="col-sm-7">
                <label>Description:</label>
                <input type="text" class="form-control" id="description" placeholder="Description">
            </div>
            <div class="col-sm-3">
                <label>Date and time:</label>
                <div class="input-group date" id="datetimepicker-new">
                    <input type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        {{#if isPrevVisible}}
        <button role="button" class="pull-left btn-default" id="btn-previous-page">Prev</button>
        {{/if}}
        <span role="tooltip" class="text-center glyphicon glyphicon-question-sign" title="Click on entries to edit them." data-toggle="tooltip" data-container="body" ></span>
        {{#if isNextVisible}}
        <button role="button" class="pull-right btn-default" id="btn-next-page">Next</button>
        {{/if}}
    </div>

    <table class="table table-striped">
        <thead><tr>
            <th class="col-sm-2">Calories</th>
            <th class="col-sm-7">Description</th>
            <th class="text-right">Date/Time</th>
            <th class="col-sm-1">
            </th>
        </tr></thead>
        <tbody>
        {{#each results}}
        <tr data-id="{{id}}">
            <td class="editable" >
                <span class="edit-hide">{{calories}}</span>
                <input class="collapse edit-show" type="text" data-type="calories" value="{{calories}}">
            </td>
            <td class="editable">
                <span class="edit-hide">{{description}}</span>
                <input class="collapse edit-show col-sm-12" type="text" data-type="description" value="{{description}}">
            </td>
            <td class="editable text-right">
                <span class="edit-hide">{{datetime}}</span>
                <input class="collapse edit-show" type="datetime" data-type="datetime" value="{{datetime}}">
            </td>
            <td class="text-right col-sm-1">
               <span role="button" class="edit-hide glyphicon glyphicon-remove" id="btn-remove-meal" title="Remove" data-toggle="tooltip"  data-container="body"></span>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<div class="col-sm-2"></div>