<div class="col-sm-2"></div>
<div class="container-fluid col-sm-8">

    <h1>My Profile</h1>

    <form role="form" class="col-sm-12">
        <div class="form-group col-sm-6 ">
            <label>Name:</label>
            <input type="text" class="form-control" id="first-name" placeholder="First" value="{{first_name}}">
            <input type="text" class="form-control" id="last-name" placeholder="Last" value="{{last_name}}">

            <div class="col-sm-12"><hr></div>

            <label for="calorie-goal">Calorie goal:</label>
            <input type="text" class="form-control" id="calorie-goal" value="{{calorie_goal}}">

            <div class="col-sm-12"><hr> </div>

            <button type="button" class="btn-primary form-control" role="button" id="btn-update">Update Information</button>

        </div>



        <div class="form-group col-sm-6">
            <label>Change Password:</label>
            <input type="password" class="form-control" id="old-password" placeholder="Current Password" >
            <input type="password" class="form-control" id="new-password1" placeholder="New Password" >
            <input type="password" class="form-control" id="new-password2" placeholder="Confirm New Password">

            <div class="col-sm-12"><hr> </div>

            <button type="button" class="btn-primary form-control" role="button" id="btn-change-password">Change Password</button>

        </div>
    </form>




</div>
<div class="col-sm-2"></div>
