<div class="col-sm-3"></div>
<div class="col-sm-6 text-center">
    <div>
        <h1>Join Calcounter today.</h1>
    </div>
        <div class="input-group center-block">
            <input type="text" class="form-control" id="username" placeholder="Username"/>
        </div>
        <div class="input-group center-block">
            <input type="password" class="form-control" id="password1" placeholder="Password"/>
        </div>
        <div class="input-group center-block">
            <input type="password" class="form-control" id="password2" placeholder="Confirm Password"/>
        </div>
        <div class="input-group center-block">
            <button id="signup-btn" class="btn-primary btn-block">Sign up</button>
        </div>
</div>
<div class="col-sm-3"></div>





